.highlight table td { padding: 5px; }
.highlight table pre { margin: 0; }
.highlight .cm {
  color: #8b949e;
  font-style: italic;
}
.highlight .cp {
  color: #8b949e;
  font-weight: bold;
}
.highlight .c1 {
  color: #8b949e;
  font-style: italic;
}
.highlight .cs {
  color: #8b949e;
  font-weight: bold;
  font-style: italic;
}
.highlight .c, .highlight .cd {
  color: #8b949e;
  font-style: italic;
}
.highlight .err {
  color: #ff7b72;
  background-color: #3d1f1f;
}
.highlight .gd {
  color: #ffdcd7;
  background-color: #4a1414;
}
.highlight .ge {
  color: #e6e3d6;
  font-style: italic;
}
.highlight .gr {
  color: #ff7b72;
}
.highlight .gh {
  color: #9db29e;
}
.highlight .gi {
  color: #d3f9d8;
  background-color: #12261a;
}
.highlight .go {
  color: #9db29e;
}
.highlight .gp {
  color: #9db29e;
}
.highlight .gs {
  font-weight: bold;
}
.highlight .gu {
  color: #9db29e;
}
.highlight .gt {
  color: #ff7b72;
}
.highlight .kc {
  color: #a9d17e;
  font-weight: bold;
}
.highlight .kd {
  color: #a9d17e;
  font-weight: bold;
}
.highlight .kn {
  color: #a9d17e;
  font-weight: bold;
}
.highlight .kp {
  color: #a9d17e;
  font-weight: bold;
}
.highlight .kr {
  color: #a9d17e;
  font-weight: bold;
}
.highlight .kt {
  color: #79c0ff;
  font-weight: bold;
}
.highlight .k, .highlight .kv {
  color: #a9d17e;
  font-weight: bold;
}
.highlight .mf {
  color: #79c0ff;
}
.highlight .mh {
  color: #79c0ff;
}
.highlight .il {
  color: #79c0ff;
}
.highlight .mi {
  color: #79c0ff;
}
.highlight .mo {
  color: #79c0ff;
}
.highlight .m, .highlight .mb, .highlight .mx {
  color: #79c0ff;
}
.highlight .sb {
  color: #ffa198;
}
.highlight .sc {
  color: #ffa198;
}
.highlight .sd {
  color: #ffa198;
}
.highlight .s2 {
  color: #ffa198;
}
.highlight .se {
  color: #ffa198;
}
.highlight .sh {
  color: #ffa198;
}
.highlight .si {
  color: #ffa198;
}
.highlight .sx {
  color: #ffa198;
}
.highlight .sr {
  color: #7ee787;
}
.highlight .s1 {
  color: #ffa198;
}
.highlight .ss {
  color: #d2a8ff;
}
.highlight .s {
  color: #ffa198;
}
.highlight .na {
  color: #79c0ff;
}
.highlight .bp {
  color: #9db29e;
}
.highlight .nb {
  color: #79c0ff;
}
.highlight .nc {
  color: #ffd580;
  font-weight: bold;
}
.highlight .no {
  color: #79c0ff;
}
.highlight .nd {
  color: #d2a8ff;
  font-weight: bold;
}
.highlight .ni {
  color: #d2a8ff;
}
.highlight .ne {
  color: #ff7b72;
  font-weight: bold;
}
.highlight .nf {
  color: #d2a8ff;
  font-weight: bold;
}
.highlight .nl {
  color: #d2a8ff;
  font-weight: bold;
}
.highlight .nn {
  color: #9db29e;
}
.highlight .nt {
  color: #7ee787;
}
.highlight .vc {
  color: #79c0ff;
}
.highlight .vg {
  color: #79c0ff;
}
.highlight .vi {
  color: #79c0ff;
}
.highlight .nv {
  color: #79c0ff;
}
.highlight .ow {
  color: #a9d17e;
  font-weight: bold;
}
.highlight .o {
  color: #e6e3d6;
  font-weight: bold;
}
.highlight .w {
  color: #6e7f70;
}
.highlight {
  color: #e6e3d6;
  background-color: #16211a;
}
